<main class="section-content">
    <section class="section-intro">
        <h1>Issue Books</h1>
        <div class="search-container">
            <h2>Select Book</h2>
            <form hx-post="/books-list" hx-target=".section-body" hx-swap="innerHTML">
              <input type="text" name="title" placeholder="Title..">
              <button type="submit">Search</button>
            </form>
        </div>
    </section>
    <section id="reserved-books">
        {{if .}}
        <ul class="list-items">
            {{ range . }}
                <li id="list-item-{{.ReservationID}}">
                    <div class="book-details">
                        <h1>{{ .Title }}</h1>
                        <div>By {{ .Author}}</div>
                    </div>
                    <div class="cancel-reservation">
                        <label hx-post="/issue-reserved/{{.ReservationID}}/{{.Title}}" hx-target="#list-item-{{.ReservationID}}" hx-swap="outerHTML">Issue</label>
                    </div>
                </li>
            {{end}}
        </ul>
        {{else}}
        <section class="red-zone">
            <h1>No Reserved Books</h1>
        </section>
        {{end}}
    </section>
    <section class="section-body">
    </section>
</main>