<body>
    <header>
        <nav>
            <ul id="logo-name">
                <img hx-get="/home" hx-target=".section-content" hx-swap="outerHTML" src="/static/img/book-svgrepo-com.svg" width="50px">
                <a hx-get="/home" hx-target=".section-content" hx-swap="outerHTML">Library of Babel</a>
            </ul>
            <ul id="nav-options">
                <a hx-get="/issue" hx-target="main" hx-swap="outerHTML">Issue</a> 
                <a hx-get="/return" hx-target="main" hx-swap="outerHTML">Return</a>
                <a hx-get="/approve" hx-target="main" hx-swap="outerHTML">Approve</a> 
                <a hx-get="/revoke" hx-target="main" hx-swap="outerHTML">Revoke</a> 
                <a hx-get="/sign-out-sign-in-page" hx-target="body" hx-swap="innerHTML">Sign Out</a>
            </ul>
        </nav> 
    </header>
    
    <main class="section-content">
        <section class="section-intro">
            <h1>Issue Books</h1>
        </section>
        <section class="section-body">
        </section>
    </main>

    <footer>
        Powered by 
        <a id="htmx-link" href="https://htmx.org/">HTMX</a>
        +
        <a id="go-link" href="https://go.dev/">GO</a>
        +
        <a id="sqlite-link" href="https://sqlite.org/">SQLite</a>
    </footer>

</body>