<main class="section-content">
    <section class="section-intro">
        <h1>Revoke Memberships</h1>
    </section>
    <section class="section-body">
        <section id="revoke-membership">
            <ul class="list-items">
                {{ range .}}
                    <li id="list-users-{{.UserID}}">
                        <div>
                            <h1>UName: {{.Uname}}</h1>
                            <div>Full Name: {{.FirstName}} {{.LastName}}</div>
                        </div>
                        <div class="approve-labels">
                            <label hx-post="/revoke/{{.UserID}}" hx-target="#list-users-{{.UserID}}" hx-swap="outerHTML">Revoke</label>
                        </div>
                    </li>
                {{end}}
            </ul>
        </section>
    </section>
</main>