<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link rel="icon" href="/static/img/book-svgrepo-com.svg">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Library of Babel</title>
</head>
<body>
    <header>
        <nav>
            <ul id="logo-name">
                <img hx-get="/home" hx-target=".section-content" hx-swap="outerHTML" src="/static/img/book-svgrepo-com.svg" width="50px">
                <a hx-get="/home" hx-target=".section-content" hx-swap="outerHTML">Library of Babel</a>
            </ul>
            <ul id="nav-options">
                <a hx-get="/browse" hx-target=".section-content" hx-swap="outerHTML">Browse</a> 
                <a hx-get="/search" hx-target=".section-content" hx-swap="outerHTML">Search</a>
                <a hx-get="/notice" hx-target=".section-content" hx-swap="outerHTML">Notice</a>
                <a hx-get="/profile" hx-target=".section-content" hx-swap="outerHTML">Profile</a>
            </ul>
        </nav> 
    </header>
    
    <main class="section-content">
        <section class="section-intro">
            <h1>Welcome</h1>
            <p>to the Library of Babel</p>
            <p> "A reader lives a thousand lives before he dies. The man who never reads lives only one." - Ursula K. Le Guin</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula odio sed varius congue. Sed bibendum euismod mi, id tincidunt diam. Etiam euismod arcu tellus. Aliquam maximus enim lorem, ac lacinia tellus sollicitudin id. Donec id volutpat eros, non tempus mauris. Maecenas suscipit, ligula non cursus iaculis, nisl ligula imperdiet ligula, pretium consectetur sapien dolor non velit. Sed in augue ipsum. Suspendisse potenti. Curabitur rutrum felis erat, at euismod quam pellentesque at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim est ut elit tempor gravida. Aliquam at nibh interdum, vehicula tortor quis, feugiat elit. Curabitur feugiat, diam sollicitudin pulvinar pellentesque, purus quam hendrerit sapien, a fermentum ex felis id massa.

                Morbi quis lobortis augue, accumsan mattis ligula. Duis eget enim convallis, viverra ipsum id, dignissim lorem. In eu consectetur arcu. Mauris est mi, luctus sit amet magna nec, facilisis vehicula massa. Cras nisi est, dapibus nec scelerisque sit amet, congue eu urna. Donec quis sodales leo. In eget libero suscipit, interdum neque vitae, iaculis erat. Donec vehicula, ipsum eget faucibus gravida, eros dui tempus nulla, sit amet iaculis orci justo ut elit. Nullam varius sit amet ex non euismod. Fusce non vestibulum dui. Maecenas non varius lacus.
                
                Integer non urna non nunc blandit sodales eget ac massa. Pellentesque faucibus elementum egestas. Sed pretium orci at ultrices ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus posuere odio non felis dapibus rhoncus. Suspendisse suscipit, augue id volutpat eleifend, nunc odio porttitor velit, at aliquam lacus ante vel risus. Etiam vitae nisi nec erat elementum faucibus. Duis aliquet magna ut ante dapibus, sed gravida neque aliquam. Suspendisse potenti. Mauris eu sollicitudin nisi.
                
                Phasellus at tortor gravida, interdum lorem nec, condimentum velit. Nulla consequat sapien non libero varius viverra. Cras ut pretium est. Donec pharetra felis in lorem consectetur pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi eu elementum odio. Quisque aliquam ut leo sed mollis. Ut elementum, lorem quis rutrum consectetur, justo odio commodo mi, at dignissim magna ex ac mi.
                
                Donec eleifend dolor vitae consequat commodo. Nam quis pretium augue, sed malesuada ante. In neque tellus, pellentesque at diam nec, cursus consectetur metus. Fusce scelerisque vel nisi vel tincidunt. Nam lacinia, lectus id porttitor luctus, arcu dui aliquet nisi, et commodo ligula tellus et ante. Integer semper odio ut ultricies tincidunt. Integer justo magna, efficitur quis vulputate dictum, ultricies vel nulla. Ut aliquet, sapien non lobortis pharetra, elit purus facilisis libero, eget feugiat eros ligula ultricies felis. Suspendisse </p>
        </section>
        <section class="section-body">
            <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula odio sed varius congue. Sed bibendum euismod mi, id tincidunt diam. Etiam euismod arcu tellus. Aliquam maximus enim lorem, ac lacinia tellus sollicitudin id. Donec id volutpat eros, non tempus mauris. Maecenas suscipit, ligula non cursus iaculis, nisl ligula imperdiet ligula, pretium consectetur sapien dolor non velit. Sed in augue ipsum. Suspendisse potenti. Curabitur rutrum felis erat, at euismod quam pellentesque at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim est ut elit tempor gravida. Aliquam at nibh interdum, vehicula tortor quis, feugiat elit. Curabitur feugiat, diam sollicitudin pulvinar pellentesque, purus quam hendrerit sapien, a fermentum ex felis id massa.

                Morbi quis lobortis augue, accumsan mattis ligula. Duis eget enim convallis, viverra ipsum id, dignissim lorem. In eu consectetur arcu. Mauris est mi, luctus sit amet magna nec, facilisis vehicula massa. Cras nisi est, dapibus nec scelerisque sit amet, congue eu urna. Donec quis sodales leo. In eget libero suscipit, interdum neque vitae, iaculis erat. Donec vehicula, ipsum eget faucibus gravida, eros dui tempus nulla, sit amet iaculis orci justo ut elit. Nullam varius sit amet ex non euismod. Fusce non vestibulum dui. Maecenas non varius lacus.
                
                Integer non urna non nunc blandit sodales eget ac massa. Pellentesque faucibus elementum egestas. Sed pretium orci at ultrices ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus posuere odio non felis dapibus rhoncus. Suspendisse suscipit, augue id volutpat eleifend, nunc odio porttitor velit, at aliquam lacus ante vel risus. Etiam vitae nisi nec erat elementum faucibus. Duis aliquet magna ut ante dapibus, sed gravida neque aliquam. Suspendisse potenti. Mauris eu sollicitudin nisi.
                
                Phasellus at tortor gravida, interdum lorem nec, condimentum velit. Nulla consequat sapien non libero varius viverra. Cras ut pretium est. Donec pharetra felis in lorem consectetur pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi eu elementum odio. Quisque aliquam ut leo sed mollis. Ut elementum, lorem quis rutrum consectetur, justo odio commodo mi, at dignissim magna ex ac mi.
                
                Donec eleifend dolor vitae consequat commodo. Nam quis pretium augue, sed malesuada ante. In neque tellus, pellentesque at diam nec, cursus consectetur metus. Fusce scelerisque vel nisi vel tincidunt. Nam lacinia, lectus id porttitor luctus, arcu dui aliquet nisi, et commodo ligula tellus et ante. Integer semper odio ut ultricies tincidunt. Integer justo magna, efficitur quis vulputate dictum, ultricies vel nulla. Ut aliquet, sapien non lobortis pharetra, elit purus facilisis libero, eget feugiat eros ligula ultricies felis. Suspendisse </p>
        </section>
    </main>

    <footer>
        Powered by 
        <a id="htmx-link" href="https://htmx.org/">HTMX</a>
        +
        <a id="go-link" href="https://go.dev/">GO</a>
        +
        <a id="sqlite-link" href="https://sqlite.org/">SQLite</a>
    </footer>

</body>
</html>