<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/htmx.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link rel="icon" href="/static/img/book-svgrepo-com.svg">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Library of Babel</title>
</head>
<body>
    <header>
        <nav>
            <ul id="logo-name">
                <img hx-get="/home" hx-target=".section-content" hx-swap="outerHTML" src="/static/img/book-svgrepo-com.svg" width="50px">
                <a hx-get="/home" hx-target=".section-content" hx-swap="outerHTML">Library of Babel</a>
            </ul>
            <ul id="nav-options">
                <a hx-get="/browse" hx-target=".section-content" hx-swap="outerHTML">Browse</a> 
                <a hx-get="/search" hx-target=".section-content" hx-swap="outerHTML">Search</a>
                <a hx-get="/notice" hx-target=".section-content" hx-swap="outerHTML">Notice</a>
                <a id="profile" hx-get="/sign-in" hx-target=".section-content" hx-swap="outerHTML">Profile</a>
            </ul>
        </nav> 
    </header>
    
    <main class="section-content">
        <section class="section-intro">
            <h1>Welcome</h1>
        </section>
        <section class="section-body">
            <ul class="list-quotes">
                <li>
                    "A reader lives a thousand lives before he dies. The man who never reads lives only one." - George R R Martin            </li>
                </li>
                <li>
                    “Books are a uniquely portable magic.” ― Stephen King
                </li>
                <li>
                    "You can never get a cup of tea large enough or a book long enough to suit me." - C.S. Lewis
                </li>
                <li> 
                    "Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers." - Charles W. Eliot
                </li>
                <li>
                    "I declare after all there is no enjoyment like reading!" - Jane Austen
                </li>
        </ul>
        </section>
    </main>

    <footer>
        Powered by 
        <a id="htmx-link" href="https://htmx.org/">HTMX</a>
        +
        <a id="go-link" href="https://go.dev/">GO</a>
        +
        <a id="sqlite-link" href="https://sqlite.org/">SQLite</a>
    </footer>

</body>
</html>