* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color:#2e2459;
    color:whitesmoke;
    text-align: center;
    padding:60px 0 60px 0;
    font-size: 2rem;
}

footer a {
    color:#0b7261;
}

.section-intro {
    background-color: #0b7261;
    color: whitesmoke;
    padding: 60px;
    font-size: 2rem;
}

.section-intro h1 {
    font-family: 'Alfa Slab One';
    font-size: 7rem;
    letter-spacing: 4px;
}

.section-intro h2 {
    font-family: 'Alfa Slab One';
}

.section-body {
    padding: 60px;
    font-size: 2rem;
}

header {
    border-bottom: solid ;
    position:sticky;
    top: 0;
    z-index: 999;
    background-color: whitesmoke;
    color: black;
    padding: 30px 0 30px 0;
    font-size: 2rem;
}

nav {
    display: flex;
    align-items: baseline;
    /* cursor: pointer; */
}

#logo-name {
    font-family: 'Alfa Slab One';
    padding: 0 30px 0 60px;
    cursor: pointer;
}

#nav-options {
    padding: 0 60px 0 30px;
}

#nav-options a {
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.list-items {
    list-style-type:none;
}

.list-items li {
    padding: 30px;
    border-bottom: solid;
}

.search-options {
    margin: 20px 0;
    display:flex;
}

.search-options a {
    background-color:#2e2459;
    padding: 10px 40px;
    margin: 10px 30px 10px 0;
}

.search-container input {
    font-size: 2rem;
    padding: 10px 20px;
    outline: none;
}

.search-container button {
    font-size: 2rem;
    padding: 10px 20px;

}